.ticketContainer{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 10px;
}

.ticketList{
    width: 100%;
}

.statsAndEdit{
    width: 75%;
}


/* CSS for the text which shows when no tasks*/
.noTasks{
    padding-top: 15px;
    text-align: center;
    font-size: 20px;
}
.noTasks p{
    font-size: 35px;
}

.noTasks span{
    color: #ef7d00;
}
