.ticketList{
    padding-top: 25px;
    flex-basis: auto;
    justify-content: flex-start
}


/* CSS for the text which shows when no tasks*/
.noTasks{
    padding-top: 15px;
    text-align: center;
    font-size: 20px;
}
.noTasks p{
    font-size: 35px;
}

.noTasks span{
    color: #ef7d00;
}


.container{
    flex-basis: auto;
    justify-content: flex-start
}